<body>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="/tokimons"><span class="glyphicon glyphicon-user"></span>All Tokimons</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <div class="container">
      <h4>Trainers</h4><br>
      <h5>Click view|edit view more status!</h5>

        <table  class="trainers_table" align="center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Level</th>
              <th># of Tokimons</th>
              <th colspan="2"></th>
            </tr>
          </thead>


          <tbody>
            <% @trainer.each do |trainer| %>
              <tr class="<%= cycle('oddline', 'evenline') %>">
                <td><%= trainer.pname %></td>
                <td><%= trainer.level %></td>
                <td><%= trainer.numberoftokimons %></td>
                <td><%= link_to 'View&Edit |', trainer %></td>
                <td><%= link_to '| Delete', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </tbody>
      </table>

      <div class="btns">
    		<%= link_to 'New Trainer', new_trainer_path %>
      </div>



    </div>
  </div>
</body>
