<body>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <div class="container">

<p id="notice"><%= notice %></p>

<h4>Tokimons</h4><br>
<h5>Click view|edit view more status!</h5>

<table class="tokimons_table" >
  <thead>
    <tr>
      <th>Tname</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Fly</th>
      <th>Fight</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Frozen</th>
      <th>Wind</th>
      <th>Trainer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokimon.each do |tokimon| %>
      <tr>
        <td><%= tokimon.tname %></td>
        <td><%= tokimon.weight %></td>
        <td><%= tokimon.height %></td>
        <td><%= tokimon.fly %></td>
        <td><%= tokimon.fight %></td>
        <td><%= tokimon.fire %></td>
        <td><%= tokimon.water %></td>
        <td><%= tokimon.electric %></td>
        <td><%= tokimon.frozen %></td>
        <td><%= tokimon.wind %></td>
        <td><%= tokimon.trainer_id %></td>
        <td><%= link_to 'Show', tokimon %></td>
        <td><%= link_to 'Edit', edit_tokimon_path(tokimon) %></td>
        <td><%= link_to 'Destroy', tokimon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Tokimon', new_tokimon_path %>



    </div>
  </div>
</body>
