<div class="new_container text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Trainer:</strong>
    <%= @trainer.pname %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @trainer.level %>
  </p>

  <p>
    <strong>Number of Tokimons:</strong>
    <%= @trainer.numberoftokimons %>
  </p>


 <div class="actions">
   <%= link_to 'Add Tokimon', new_tokimon_path %> <br><br>
   <%= link_to 'Edit', edit_trainer_path(@trainer) %> |
   <%= link_to 'Back',  controller: 'trainers'%>
 </div>
</div>
